<div class="card project-item">
  <div class="card-header header">
    <img
      *ngIf="project?.icon_url"
      [src]="project?.icon_url"
      id="project-icon"
    />
    <div *ngIf="!project?.icon_url" id="project-icon-alt">
      <p>{{ getProjectAvatar() }}</p>
    </div>
    <p id="project-duration" class="text-black-50">
      {{ project?.started_at }} -
      {{ project?.finished_at ? project?.finished_at : "Present" }}
    </p>
  </div>
  <div class="card-body body">
    <h6 id="project-name">
      <ng-container *ngIf="!project?.project_url; else noProjectUrlTemplate">
        <p class="text-black-50">
          {{ project?.name }}
        </p>
      </ng-container>
      <ng-template #noProjectUrlTemplate>
        <a
          class="text-black-50"
          [href]="project?.project_url"
          target="_blank"
          >{{ project?.name }}</a
        >
      </ng-template>
    </h6>
    <p id="project-description">{{ project?.description }}</p>
  </div>

  <div class="project-technologies">
    <h6 class="text-black-50">Languages and Frameworks</h6>
    <div
      class="list"
      [ngClass]="{ marquee: project?.technologies?.length > 3 }"
    >
      <ng-container *ngFor="let technology of project?.technologies">
        <a [href]="technology?.url">
          <img
            *ngIf="technology?.icon_url"
            [src]="technology?.icon_url"
            target="_self"
          />
          <div *ngIf="!technology?.icon_url" id="technology-icon-alt">
            <p>{{ getTechnologyAvatar(technology) }}</p>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</div>
