html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  filter: invert(1) hue-rotate(180deg);
  box-shadow: 0 0 16px;
  min-height: 100vh;
  display: flex;
  // background: black;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 64%,
    rgba(10, 10, 10, 1) 100%
  );
  border-radius: 0;
}

.header-social {
  justify-content: center;
  a img {
    height: 5vmin;
    width: 5vmin;
    transition: transform 0.1s; /* Animation */
  }
  a img:hover {
    cursor: pointer;
    transform: scale(
      1.05
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.footer {
  min-height: 60px;
  background: black;
  border-radius: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons {
  display: flex;
  flex-direction: row;
}

.contact-icons img {
  height: 4vmin;
  width: 4vmin;
  min-height: 24px;
  min-width: 24px;
  margin: auto 5px;
}

.center {
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

#name {
  // margin: auto;
  font-size: 2.2rem;
  color: white;
  margin-bottom: 3px;
}

#position {
  font-size: 1.2rem;
  // margin: auto;
  color: #ffffffa1;
  font-weight: 300;
}

.profile-picture {
  margin: auto auto 16px 30px;
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 160px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    filter: invert(1);
  }
}

.introduction {
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  #title {
    margin: 24px auto 24px 24px;
    font-size: 1.5rem;
  }

  //   #title::before {
  //     content: "> ";
  //   }

  #description {
    margin: auto;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    // font-weight: bold;
  }
}

.section:nth-child(2n + 3) {
  background: #0000000a;

  // filter: invert(1);
}

.projects {
  padding: 0 24px;
  app-project-item {
    margin: 15px 0;
  }
}

.projects-row {
  padding: 0 5vw;
}

.other-informations {
  padding: 0 24px;
  margin-bottom: 24px;
  min-height: 300px;
  p {
    margin: 0;
  }
}

.most-used-projects-container {
  display: flex;
  flex-direction: row;
  // overflow-x: scroll;
  padding: 16px 60px;
  margin: 16px;
  width: fit-content;
  margin: 16px auto;
  flex-wrap: wrap;
  .item {
    margin: 8px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 50px;
      width: 50px;
      margin-top: 16px;
      object-fit: cover;
      border-radius: 25%;
    }
    p {
      padding: 8px;
      padding-bottom: 0;
      font-weight: 200;
      font-size: 0.875rem;
      // font-weight: bold;
    }
  }

  .item {
    transition: transform 0.2s; /* Animation */
  }

  .item:hover {
    cursor: pointer;
    transform: scale(
      1.05
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */

  #description {
    padding: 0 24px !important;
  }

  .projects-row {
    padding: 0 !important;
  }

  .most-used-projects-container {
    justify-content: center !important;
    // padding-left: 0;
    // padding-right: 0;
    padding: 0 16px;
  }

  .header-social {
    justify-content: flex-end;
    a img {
      height: 10vmin;
      width: 10vmin;
    }
  }

  hr {
    margin-left: 10%;
  }

  .profile-picture {
    display: none;
  }

  .most-used-projects-container .item {
    height: 100px;
    width: 100px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  // .project-technologies {
  //   padding: 16px 0;
  //   padding-bottom: 0;
  //   margin: auto 18px 18px 18px;
  // }
}

hr {
  background: white;
}

$animation-delay: 0.1s;
$arrow-size: 18px;

.scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  bottom: 5%;
  .scroll-arrow {
    width: $arrow-size;
    height: $arrow-size;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    animation: arrow-wave 1s infinite;
    animation-direction: alternate;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay * $i;
      }
    }
  }

  @keyframes arrow-wave {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}

.other-informations-section {
  min-height: 200px !important;
}
